/* @link https://utopia.fyi/type/calculator?c=260,21,1.2,400,32,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

/* @link https://utopia.fyi/type/calculator?c=260,21,1.2,400,32,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

html{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

}

:root{
	font-size: 16px;
	--fluid-min-width: 260;
  --fluid-max-width: 400;
  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 400px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
	--f--3-min: 12.15;
  --f--3-max: 16.38;
  --step--3: calc(
    ((var(--f--3-min) / 16) * 1rem) + (var(--f--3-max) - var(--f--3-min)) *
      var(--fluid-bp)
  );

  --f--2-min: 14.58;
  --f--2-max: 20.48;
  --step--2: calc(
    ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
      var(--fluid-bp)
  );

	--f--1-min: 17.50;
  --f--1-max: 25.60;
  --step--1: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );

	--f-0-min: 21.00;
  --f-0-max: 32.00;
  --step-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );
}

*,
*:after,
*:before{
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

body{
	margin: 0;
	font-family: sans-serif;
}

img{
	width: 100%;
	height: 100%;
}

.main-container{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow-x: hidden;
}

.welcome-container,
.sign-form{
	width: 100%;
	height: 100vh;
}

.welcome-container{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[2];
	grid-template-columns: repeat(2,1fr);
	-ms-grid-rows: (1fr)[2];
	grid-template-rows: repeat(2,1fr);
	    grid-template-areas:
	"msg msg"
	"btn btn";
	justify-items: stretch;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}

.welcome-msg-container,
.sign-buttons-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.welcome-msg-container{
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: msg;
	background: #9dd2d8;
	border-bottom-right-radius: 50px;
}

.wellcome-image{
	height:70%;
	width: 100%;
}

.title{
	font-size: var(--step-0);
	color: #fff;
}

.sign-buttons-container{
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: btn;
	background: #fff;
	border-top-left-radius: 50px;
}

.sign-btn{
	color: #9dd2d8;
	width: 60%;
	display: block;
	text-align: center;
	margin-bottom: 1rem;
	height: 3rem;
	border: none;
	background: none;
	outline: 2px solid #9dd2d8;
	border-radius: 10px;
	font-size: var(--step--1);
	font-weight: bolder;
}

#login-btn{
	margin-top: 50px;
}

.round-top{
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: msg;
	background: #fff;
}

.round-bottom{
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	background: #9dd2d8;
	grid-area: btn;
}

.or-msg{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #aaa;
  margin-bottom: 1rem;
}

.or-msg>hr {
    display: inline-block;
    width: 20%;
    height: 1px;
    margin: 0;
    color: #aaa;
    border-style: dotted;
    border-width: 6px;
    border-top: none;
}

.or-msg>span {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.signup-msg {
    text-align: center;
    color: #aaa;
    font-weight: bolder;
    pointer-events: none;
    margin: 0;
}

.sign-form{
	top: 0;
	right: -100%;
	position: absolute;
	background: #111111dd;
	-webkit-backdrop-filter: blur(6px);
	        backdrop-filter: blur(6px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-top: 4rem;
	padding-bottom: 4rem;
	-webkit-transition: right 0.6s ease-in;
	-o-transition: right 0.6s ease-in;
	transition: right 0.6s ease-in;
}

.arrow-icon{
	width: 2.8rem;
  height: 2.8rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
	background: #fff;
	-webkit-clip-path:polygon(0% 20%, 59% 35%, 60% 0%, 100% 50%, 60% 100%, 60% 65%, 0% 80%);
	        clip-path:polygon(0% 20%, 59% 35%, 60% 0%, 100% 50%, 60% 100%, 60% 65%, 0% 80%);
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.input-text{
	width: 80%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-bottom: 2.2rem;
}

.input-text>label{
	width: 100%;
	text-align: left;
	color: #fff;
	font-weight: bolder;
	font-size: 1.4rem;
	margin-bottom: 1rem;
}


.input-text>input{
	width: 100%;
	height: 2.6rem;
	border-radius: 10px;
	border: none;
	font-size: 1.2rem;
}
.input-text>p{
	color: #fff;
}

.form-submit{
	width: 38%;
  height: 3rem;
}

.form-submit>input{
	width: 100%;
	height: 100%;
	border: none;
	background: none;
	color: #fff;
	outline: 3px solid #fff;
	border-radius: 10px;
	font-size: var(--step--1);
	font-weight: bolder;
}

#terms-check{
	position: relative;
	top: 2px;
	width: var(--step--3);
	height: var(--step--3);
	margin-right: 0.5rem;
}

a{
	color: inherit;
}

.form-terms{
	font-size: var(--step--3);
	color: #fff;
	margin-bottom: 2rem;
}

.round-bottom>div{
	display: none;
}

.sign-btn,
.arrow-icon,
input[type=submit],
input[type=checkbox]{
	cursor: pointer;
}

@media (min-width: 48em){
	
	.main-container{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		background: -o-linear-gradient(315deg, #8363a1 0%, #5286b2 100%);
		background: linear-gradient(135deg, #8363a1 0%, #5286b2 100%);
	}

	.title{
		color: #7bb0b6;
		margin-top: 0;
	}

	.welcome-container{
		width: 90%;
		height: 90vh;
		-ms-grid-rows: 1fr 1fr ;
		grid-template-rows: 1fr 1fr ;
		-ms-grid-columns: 1fr 4px 1fr;
		grid-template-columns: 1fr 4px 1fr;
		    grid-template-areas: 
			"msg line btn"
			"msg line btn";
		-webkit-box-shadow: 1px 1px 1px #000;
		        box-shadow: 1px 1px 1px #000;
	}

	.round-top{
		grid-area: line;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.round-top>div{
		border-right: 4px dotted #bbb;
		height: 80%;
		width: 100%;
	}

	.welcome-msg-container{
		background: #fff;
	}

	.welcome-msg-container,
	.sign-buttons-container{
		border-radius: 0;

	}

	.round-bottom{
		display: none;
	}
	
	.sign-form{
		-webkit-transition: unset;
		-o-transition: unset;
		transition: unset;
		width: 90%;
		height: 90vh;
	}

	.arrow-icon{
		-webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
		        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	}

	.welcome-msg-container{
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
	}

	.sign-buttons-container{
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
		-ms-grid-column: 3;
		-ms-grid-column-span: 1;
	}

	.round-top{
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
	}

	.round-bottom{
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
		-ms-grid-column: 3;
		-ms-grid-column-span: 1;
	}
}

@media (min-width: 48em){

	.round-top{
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
		-ms-grid-column: 2;
	}

}