*,
*::before,
*::after{
	-webkit-box-sizing:  border-box;
	        box-sizing:  border-box;
}

:root{
	font-size: 16px;
	font-family: sans-serif;	
}

body{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.title{
	margin-top: 0;
	margin-bottom: 0.2rem;
	color: white;
	text-align: center;
	font-size: 1.5rem;
}

.main-container{
	height: 100vh;
	margin: 0;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.round-top{
	width: 100%;
	height: 50%;
	position: absolute;
	top: 0;
	background: #fff;
	z-index: 0;
	border: none;
}

.round-bottom{
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: 0;
	background:#9dd2d8;
	z-index: 0;
	border: none;
}

.welcome-container{
	padding-top: ;
	z-index: 1;
	height: 50%;
	background: #9dd2d8;
	position: relative;
	border-bottom-right-radius: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-bottom: 2.5rem;
	width: 100%;
	margin: 0;
	border: none;
}

.wellcome-image{
	margin: 0;
	width: 100%;
	height: 70%;
	text-align: center;
	padding: 0;
}

img{
	max-width: 100%;
	max-height: 100%;
	margin: 0;
}

.method-container{
	height: 50%;
	background: #fff;
	position: relative;
	z-index: 1;
	border-top-left-radius: 50px;
	width: 100%;
	margin: 0;
	border: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.sign-btn{
	margin: 1rem;
	height: 2rem;
	width: 80%;
}

.sign-btn> button{
	border: none;
	width: 100%;
	height: 100%;
	background: white;
	outline-color: #9cc2c6;
	outline-width: 2px;
	outline-style: solid;
	border-radius: 20px;
	text-decoration: none;
	font-size: 1.5rem;
	color: #9cc2c6;
	font-weight: bolder;
}

.signup-msg{
	text-align: center;
	color: #aaa;
	font-weight: bolder;
	pointer-events: none;
}

.or-msg{

	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	text-align: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: #aaa;
}	

.or-msg>hr{
	display: inline-block;
	width: 30%;
	height: 1px;
	margin: 0;
	color: #aaa;
	border-style: dotted;
	border-width: 6px;
	border-top: none;
}

.or-msg>span{
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.sign-form{
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  background: #111111bb;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  -webkit-transform:translate(100%,0);
      -ms-transform:translate(100%,0);
          transform:translate(100%,0);
  margin: 0;
}

.signin-form{
	width: 100%;
	height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}

.signup-form{
	height: 100vh;
	top: 0;
	overflow-x: hidden;
	width: 100%;
	left: 0;
	overflow-y: auto;
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform:translate(120%,0);
            transform:translate(120%,0);
  }

  to {
    -webkit-transform:translate(0,0);
            transform:translate(0,0);
  }
}

@keyframes slidein {
  from {
    -webkit-transform:translate(100%,0);
            transform:translate(100%,0);
  }

  to {
    -webkit-transform:translate(0,0);
            transform:translate(0,0);
  }
}

.animation-form-in{
	-webkit-animation-name: slidein;
	        animation-name: slidein;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slideout {
  from {
    -webkit-transform:translate(0,0);
            transform:translate(0,0);
  }

  to { 
    -webkit-transform:translate(120%,0); 
            transform:translate(120%,0);
  }
}

@keyframes slideout {
  from {
    -webkit-transform:translate(0,0);
            transform:translate(0,0);
  }

  to { 
    -webkit-transform:translate(120%,0); 
            transform:translate(120%,0);
  }
}

.animation-form-out{
		-webkit-animation-name: slideout;
		        animation-name: slideout;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
.input-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	position: absolute;
	top: 3.2rem;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 100%;
	margin: 0;
}
.arrow-icon{
	position: absolute;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
	top: 0.8rem;
	right: 1.1rem;
	width: 2.8rem;
	height: 2.8rem;
}

.input-text{
	overflow: hidden;
	margin: 0;
	margin-bottom: 1.8rem;
	width: 83%;
	height: auto;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: left;
}

.input-text > input{
	display: inline-block;
	border: none;
	border-radius: 8px ;
	width: 96%;
	outline: 1px solid #9dd2d8;
	height: 2.6rem;
	font-size: 1rem;
	margin: 0;
	margin-bottom: 0.3rem;

}

.input-text>label{
	margin-bottom: 0.3rem;
	display: inline-block;
	color: #fff;
	font-weight: bolder;
	font-size: 1.2rem;
	text-align: left;
	width: 96%;
}

.form-submit{
	width: 38%;
	height: 2rem;
	margin-bottom: 2.6rem;
}

.form-submit > input{
	width: 100%;
	height: 100%;
	outline: 3px solid #9dd2d8;
	border: none;
	background: none;
	font-size: 1rem;

	color: #fff;
	font-weight: bolder;
	border-radius: 8px;
}

.input-text>p{
	margin-top: 0.3rem;
	text-align:right ;
	color: white;
	font-size: 1.1rem;
}
.form-terms{
	margin-top: 1rem;
	text-align: center;
	margin-bottom: 2.5rem;
}
.form-terms>label{
	color: #fff;
	font-size: 0.8rem;
}

#terms-check{
	border: none;
	position: relative;
	top: 5px;
	border-radius: 8px;
	right: 4px;
	height: 1.2rem;
	width: 1.2rem;
}

a{
	color: inherit;
}

.round-draw{
	display: none;
}

@media screen and (min-width:48em) and (orientation:landscape) {
	body{
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		background:#9dd2d8;
		position: relative;
	}
	.main-container{
		box-shadow: 1px 1px 1px 1px #000;
		width: 90%;
		height: 90vh;
		position: relative;
		background:#fff;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		justify-items: center;
		align-content: center;
		align-items: center;
		overflow: hidden;
	}
	.title{
		color: #7bb0b6;
		font-size: 2rem;
	}

	.sign-form{
		height: 100%;
		width: 50%;
		transform: translate(200%,0);
	}

	@keyframes slidein {
	  from {
	    -webkit-transform:translate(200%,0);
	            transform:translate(200%,0);
	  }

	  to {
	    -webkit-transform:translate(100%,0);
	            transform:translate(100%,0);
	  }
	}

	@keyframes slideout {
	  from {
	    -webkit-transform:translate(100%,0);
	            transform:translate(100%,0);
	  }

	  to { 
	    -webkit-transform:translate(200%,0); 
	            transform:translate(200%,0);
	  }
	}

	.welcome-container{
		height: 90%;
		background: #fff;
		background:#fff;
		border-radius: initial;
		grid-column:1/2;
		margin: 0;
		border-right: 4px dotted #bbb;
		position: initial;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 2rem;
	}

	.wellcome-image{
		height: auto;
	}

	.method-container{
		height: 90%;
		border-radius: initial;
		grid-column:2/2;
		padding-top: 5rem;
	}
	.round-top{
		display: none;
	}

	.round-bottom{
		display: none;
	}

	.round-draw{
		display: block;
		background: #6aa0a6;
		position: absolute;
		width: 400px;
		height: 400px;
		border-radius: 50%;
	}

	.draw-0{
		top: -15%;
		left: -15%;
	}
	.draw-1{
		bottom: 10%;
		right: -15%;
	}

}

@media screen and (max-height:380px) and (orientation:landscape) {
	.signin-form{
		overflow-y: auto;
	}
}