*,
*::before,
*::after{
	box-sizing:  border-box;
}

:root{
	font-size: 16px;
	font-family: sans-serif;	
}

body{
	margin: 0;
	padding: 0;

}

.title{
	margin-top: 0;
	margin-bottom: 0.2rem;
	color: white;
	text-align: center;
	font-size: 1.5rem;
}

.main-container{
	height: 100vh;
	margin: 0;
	background: blue;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.round-top{
	width: 100%;
	height: 50vh;
	position: absolute;
	top: 0;
	background: #fff;
	z-index: 0;
	border: none;
}

.round-bottom{
	width: 100%;
	height: 50vh;
	position: absolute;
	bottom: 0;
	background:#9dd2d8;
	z-index: 0;
	border: none;
}

.welcome-container{
	padding-top: ;
	z-index: 1;
	height: 50vh;
	background: #9dd2d8;
	position: relative;
	border-bottom-right-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 2.5rem;
	width: 100%;
	margin: 0;
	border: none;
}

.wellcome-image{
	margin: 0;
	width: 100%;
	height: 70%;
	text-align: center;
	padding: 0;
}

img{
	max-width: 100%;
	max-height: 100%;
	margin: 0;
}

.method-container{
	height: 50vh;
	background: #fff;
	position: relative;
	z-index: 1;
	border-top-left-radius: 50px;
	width: 100%;
	margin: 0;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sign-btn{
	margin: 1rem;
	height: 2rem;
	width: 80%;
}

.sign-btn> button{
	border: none;
	width: 100%;
	height: 100%;
	background: white;
	outline-color: #9cc2c6;
	outline-width: 2px;
	outline-style: solid;
	border-radius: 20px;
	text-decoration: none;
	font-size: 1.5rem;
	color: #9cc2c6;
	font-weight: bolder;
}

.sign-btn> p{
	text-align: center;
	color: #aaa;
	font-weight: bolder;
}

.or-msg{

	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	color: #aaa;
}	

.or-msg>hr{
	display: inline-block;
	width: 30%;
	height: 1px;
	margin: 0;
	color: #aaa;
	border-style: dotted;
	border-width: 6px;
	border-top: none;
}

.or-msg>span{
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.sign-form{
  backdrop-filter: blur(5px);
  background: #11111188;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  transform:translate(120%,0);
}

.signin-form{
	width: 100%;
	height: 100vh;
  top: 0;
  left: 0;
}

.signup-form{
	height: 100vh;
	top: 0;
	overflow-x: hidden;
	width: 100%;
	left: 0;
	overflow-y: hidden;
	overflow-y: auto;
}

@keyframes slidein {
  from {
    transform:translate(120%,0);
  }

  to {
    transform:translate(0,0);
  }
}

.animation-form-in{
	animation-name: slidein;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slideout {
  from {
    transform:translate(0,0);
  }

  to { 
    transform:translate(120%,0);
  }
}

.animation-form-out{
		animation-name: slideout;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.signup-form>.input-container{
	display: flex;
	width: 100%;
	position: absolute;
	top: 3.2rem;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 2rem;
}
.arrow-icon{
	position: absolute;
	transform: rotate(90deg);
	top: 0.8rem;
	right: 1.1rem;
	width: 2.8rem;
	height: 2.8rem;
}

.input-text{
	margin: 2.5rem;
	margin-top: 1.8rem;
	width: 80%;
	height: 2rem;
}

.input-text > input{
	border: none;
	border-radius: 8px ;
	width: 100%;
	height: 100%;
	outline: 2px solid #9dd2d8;
	font-size: 1rem;
}

.input-text>label{
	position: relative;
	bottom: 1rem;
	color: #fff;
	font-weight: bolder;
	font-size: 1.2rem;
}

.form-submit{
	width: 38%;
	height: 2rem;
}

.form-submit > input{
	width: 100%;
	height: 100%;
	outline: 3px solid #9dd2d8;
	border: none;
	background: none;
	font-size: 1rem;
	margin-top: 2.6rem;
	margin-bottom: 2.6rem;
	color: #fff;
	font-weight: bolder;
	border-radius: 8px;
}

.input-text>p{
	margin-top: 0.3rem;
	text-align:right ;
	color: white;
	font-size: 1.1rem;
}
.form-terms{
	margin-top: 1rem;
}
.form-terms>label{
	color: #fff;
	font-size: 0.8rem;
}

#terms-check{
	border: none;
	position: relative;
	top: 5px;
	border-radius: 8px;
	right: 4px;
	height: 1.2rem;
	width: 1.2rem;
}

a{
	color: inherit;
}

