html{
	box-sizing: border-box;

}

:root{
	font-size: 16px;
}

*::-webkit-scrollbar {
 	width: 5px;
}

*::-webkit-scrollbar-track {
 	background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
 	background: #bb55ee;


}

*::-webkit-scrollbar-thumb:hover {
 	background: #9dd2d8;
}


*,
*:after,
*:before{
	box-sizing: inherit;
}

body{
	margin: 0;
	font-family: sans-serif;
}

img{
	width: 100%;
	height: 100%;
}

.main-container{
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "chat aside";
	overflow: hidden;
	position: relative;
}

.aside-container{
	grid-area: aside;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	overflow: hidden;
	border: 1px solid #ddd;
	border-top: none;
	border-bottom: none;
	position: relative;
}

.chat-container{
	grid-area: chat;
}

.header{
	width: 100%;
	height: fit-content;
	padding: 0.7rem 1rem 0.7rem 0.65rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #eee;
	border-bottom: 1px solid #ddd;
}

.chatting-contact{
	flex: auto;
	padding-left: 1.2rem;
	display: flex;
	flex-direction: column;
}


#options{
	margin-left: 1rem;
}

#notifications{
	width: 100%;
	height: fit-content;
}

.action-icon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transition: 0.5s all ease;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.action-icon>svg{
	width: 30px;
	height: 30px;
}

.action-icon>img{
	width: 30px;
	height: 30px;
}

.action-icon>div{
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.action-icon > div > img{
	width: 120%;
	height: 120%;
}
.action-icon:hover {
	background: #bbb;
}

.user-actions{
	display: flex;
	flex-direction: row;
}

.search{

	padding: 0.5rem;
	padding-left: 0.8rem;
	padding-right: 1rem;
	width: 100%;
	background: ;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;

}

.search-icon{
	position: relative;
	top: 3px;
	cursor: pointer;
	margin-right: 8px;
}

.input-box{
	display: flex;
	flex-direction: row;
	flex: auto;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
	background: #eee;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.search-input-container{
	flex: auto;
}

.search-input{
	width: 100%;
	height: 2rem;
	font-size: 1.1rem;
	border: none;
	outline: none;
	background: inherit;
}

.search-filter{
	margin-right: 1rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 1rem;
	height: 1rem;
}

.contacts-chat-container{
	flex: auto;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto !important;
	display: flex;
	flex-direction: column;

}

.chat-card{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 5rem;
	cursor: pointer;
	border-top: 1px solid #d1d7db;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.chat-photo{
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-photo>div{
	height: 3.5rem;
	width: 3.5rem;
	overflow: hidden;
	border-radius: 50%;
	margin-left: 0.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-photo > div > img{
	width: 120%;
	height: 120%;
}

.chat-info{
	flex: auto;
	display: flex;
	flex-direction: column;
}

.chat-info>*{
	flex: auto;
}

.chat-name,
.chat-last-message{
	display: flex;
	justify-content: space-between;
	padding-right: 2rem;
	padding-left: 1rem;
	flex-direction: row;
}

.last-msg-chat{
	width: 100%;
}

.last-msg-chat{
	margin: 0;
	height: 1.2rem;
	overflow: hidden;
	flex: auto;
	position: relative;
	display: flex;
	justify-content: flex-start;
	justify-self: flex-start;
	margin-top: 2px;
	font-size: 0.9rem;
	color: #666;
	line-height: 1.5rem;
}

.chat-name{
	display: flex;
	align-items: center;
	justify-content: center;
}

.last-msg-time,
.contact-name{
	margin-bottom: 0;
	margin-top: 0;
}


.chat-last-message{
	flex: auto;

}

.contact-name{
	width: 100%;
	overflow: hidden;
	height: 1.1rem;
	font-size: 1.1rem;
}


.chat-options{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: relative;
	cursor: pointer;
	transition: 0.5s all ease;
	background: #fff;
}

.options-icon{
	position: relative;
	top: -2px;
	transition: 0.5s all ease;
	transform: rotate(90deg) translate(0,-300%);
}

.chat-card:hover  .options-icon{
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 45% 90%, 85% 50%, 45% 10%);
	width: 1.2em;
	height: 1.2rem;
	background: #aaa;
	transform: rotate(90deg) translate(0,0);
}

.pinup-icon{
	position: relative; 
	top: 3px; 
	margin-right: 0.5rem;
	margin-left: 0.3rem;
}

.unread-amount{
	background: #bb55ee;
	margin: 0;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	padding-right: 0.5rem;
	margin-right: 0.5rem;
	padding-left: 0.5rem;
	color: #eee;
	border-radius: 50%;
	transition: 0.2s all ease;
}

.chat-card:hover  .unread-amount{
	background: #9dd2d8;
}

.user-profile{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100%;
	background: #eee;
	transition: 0.5s ease all;
}
.user-image{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;

}

.user-image-container{
	width: 212px;
	border-radius: 50%;
	height: 212px;
	overflow: hidden;
}

.blue-header{
    background: #bff4fb;
	width: 100%;
	height: 6.75rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.blue-header>p{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 1.2rem;
	padding-bottom: 0;
	width: 100%;
	font-size: 1.2rem;
	flex-direction: row;
}

.blue-header .return-icon{
	display:inline-block; 
	width: fit-content; 
	cursor: pointer; 
	display:flex;
	align-items: center;
	justify-content: center;
	transform: rotate(-90deg);
}

.user-info-name{
	background: #fff;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	flex-direction: column;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 2rem;
}

.username-title,
.username{
	width: 100%;
	margin-top: 0.5rem;
	margin-bottom: 0.3rem;
}

.username-title{
    color: #777;
}

.username{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chat-container{
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.chat{
	height: 100%;
	flex: auto;
	display: flex;
	flex-direction: column;
	width: 100%;

	transition: 0.5s ease all;
}

.chat>.header>.action-icon,
.chatting-contact{
	cursor: pointer;
}

.messages{
	flex: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

.chat-actions-container{

	padding-left: 17px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	background: #eee;
	max-width: 100%;
	height: auto;
	border-top: 1px solid #ddd;
}

.chat-actions{
	flex: auto;
	display: flex;
	flex-direction: row;
	max-width: 100%;
	height: fit-content;
}

.send-other,
.chat-input{
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-input{

	padding: 6px 12px ;
	flex: auto;
	overflow: hidden;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.msg-text-input{
	
	display: block;
	min-height: 100%;
	max-height: 7rem;
	overflow-y: auto;
	flex: auto;
	width: 90%;
	background: #fff;
	border-radius: 0.5rem;
	margin-right: 1rem;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 0.5rem;
	border: 1px solid #ddd;

}

.messages{
	background: #fff;
	padding-bottom: 1.3rem;
	display: flex;
	flex-direction: column;

}

.chatting-contact-lasttime{
	color: #888;
}

.send-other>*,
.send-icon{
	cursor: pointer;
}

.message{
	display: flex;
	flex-direction: row;
	padding-left: 4rem;
	padding-right: 4rem;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 1.4rem;
	position: relative;
}

.msg-container{
	width: 70%;
	background:#bff4fb;
	box-shadow: 0px 1px 0px 0px #ddd;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-bottom: 0.3rem;
	padding-top: 0.5rem;
	position: relative;
	z-index: 1;
}

.tail{
	clip-path: polygon(100% 0, 0 0, 100% 100%);

	height: 1rem;
	width: 1rem;
	background:#bff4fb;
	

}

.msg{
	padding: 1.2rem;
	padding-bottom: 0.4rem;
	padding-top: 0.4rem;
}

.sent-time{
	text-align: right;
	padding-right: 0.8rem;
}

.received{
	justify-content: flex-end;
}

.tail.in{
	clip-path: polygon(100% 0, 0 0, 0 100%);
	background: #eee;
	border: none;
	position: relative;
	right: 1px;
	z-index: 1;
}

.message.received > .msg-container{
	border-top-right-radius: 0;
	border-top-left-radius: 10px;
	border: none;
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.message.received > .msg-container{
	background: #eee;
}

.forwarded{
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	font-size: 0.9rem;
	height: 1rem;
	color: #666;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
}

.forwarded>span>svg{
	position: relative;
	top: 3px;
}

.msg-container:hover  .options-icon{
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 45% 90%, 85% 50%, 45% 10%);
	width: 1.2em;
	height: 1.2rem;
	background: #aaa;
	transform: rotate(90deg) translate(0,0);
}

 .options-msg{
 	cursor: pointer;
 	position: relative;
 	width: 1.5rem;
 	height: 1.5rem;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }

.options-container{
	position: absolute;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background: #fff;
	z-index: 2;
	box-shadow: 1px 1px 6px #444;
}
.options-container>p{
	margin: 0;
	width: 100%;
	padding: 1rem;
	padding-right: 2rem;
	padding-left: 2rem;
	text-align: left;
	cursor: pointer;
}

.options-container>p:hover{
	background: #eee;
}

.contact-info{
	height: 100%;
	width:0;
	overflow: hidden;
	background: #eee;
	display: flex;
	flex-direction: column;
	transition: 0.5s ease all;
}

.contact-info > .info-container {
	width: 100%;
	overflow-x: hidden;
    overflow-y: auto;
    flex: auto;
    background: #eee;
}

.info-container>*:not(.header){
	background: #fff;
}

.contact-info>.header{
	justify-content: flex-start;
	border-left: 1px solid #ddd;
}
.contact-about,
.contact-about-title,
.contact-profile-name,
.contact-profile-username{
	margin: 0;
	padding: 0;
}

.contact-profile-photo{
	padding: 1.5rem;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 1rem;
}

.contact-profile-name{
	margin-top: 0.5rem;
	font-size: 1.6rem;
}


.contact-info-about{
	width: 100%;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 1.1rem;
}

.contact-about{
	margin-top: 1rem;
}
.contact-about-title{
	color: #777;
	
}
.contact-profile-username{

	margin-top: 0.5rem;
	color: #777;

}

.contact-info-photos>
.photos-container>
.photo-container{
	width: 20%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.photos-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.contact-photos-title{
	width: 100%;
	color: #777;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.contact-info-photos{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	flex-direction: column;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 1.1rem;
}

.contact-info-actions{
	width: 100%;

	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.contact-fav-msgs,
.delete-chat{
	color: #222;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.delete-chat{
	margin-top: 1.2rem;
	color: #ea0038;
	justify-content: flex-start;
}

#arrow-icon > .arrow-icon{
	width: 100%;
	height: 100%;
	background: #bb55ee;;
	clip-path: polygon(0% 20%, 59% 35%, 60% 0%, 100% 50%, 60% 100%, 60% 65%, 0% 80%);
	transform: rotate(180deg);
}
#arrow-icon{
	display: none;
	margin-right: 1rem;
	height: 40px;
	width: 40px;
}

#arrow-icon:hover{
	background: none;
}

@media (max-width: 31.25em){

	.chat{
		overflow: hidden;
		transition: none;
	}

	#arrow-icon{
		display: unset;
	}
	
	.chat-container{
		grid-area: none;
		display: none;
		height: 100hv;
	}

	.aside-container{
		grid-area: main;
	}
	.main-container{
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		grid-template-areas: 
		"main";
	}
	.contact-info{
		position: absolute;
		top: 0;
		transition: none;
	}

	
}